html, body {
  height: 100%;
  width: 100%;
}

#menu{
  color:red;
}
/* @font-face {
   font-family: myFirstFont;
   src: url(DancingScript-VariableFont_wght.ttf);
} */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

#midimg{
  color: orange;
  font-size: 54px;
}

#myimg{
  border: 10px solid red;
  position: relative;
  top: 10px;
}
/* #ttt{
  font-family: orbitron, sans-serif; 
  font-family: 'Rubik Bubbles', cursive;
}  */

/* p#grif{
  font-family: 'Griffy', cursive;
} 



header{
  border-style: solid;
  background-color: black;
  height: 36px;
  color: white;
  font-family: sans-serif;
  padding: 2px;
}

header p{
  text-align: center;
  font-size: 12px;
  padding: 2px;
}



header p button{
  background: red;
  color: white;
  border-radius: 5px;
  font-size: 11px;
  padding-left:4px ;
  padding-right: 4px;
}

#button2{
  position: absolute;
  right: 30px;
}

nav ul li {
  display: inline;
}

nav ul{

}

nav ul li a {
  text-decoration: none;
  
}
  */

h1{
  font-family:myFirstFont ;
}

h2{
  color: red;
}

h3{
  font-style: italic;
}